*.iml
.idea
target
.idea/inspectionProfiles/
.idea/uiDesigner.xml
core/target/
common/target
dao/src/main/java/target/
dao/target/generated-sources/
dao/target/generated-test-sources/
entity/target/generated-sources/
entity/target/generated-test-sources/
entity/target/surefire-reports/
service/target/classes/com/el/RedisService.class
service/target/generated-sources/
service/target/generated-test-sources/
!/logs/
!/.idea/
/.idea/.gitignore
/${fileGz}/2019-12/app-12-07-2019-1.web-info.gz
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/logs/web-error.log
/logs/web-info.log
