*.iml
.idea
target
.idea/inspectionProfiles/
.idea/uiDesigner.xml
core/target/
common/target
dao/src/main/java/target/
dao/target/generated-sources/
dao/target/generated-test-sources/
entity/target/generated-sources/
entity/target/generated-test-sources/
entity/target/surefire-reports/
service/target/classes/com/el/RedisService.class
service/target/generated-sources/
service/target/generated-test-sources/
!/logs/
!/.idea/
